/* styles.css */
body {
    font-family: monospace;
    background-color: black;
    color: #00ff00;
}
.matrix {
    text-align: center;
    margin-top: 20vh;
}
.btn {
    color: #00ff00;
    text-decoration: none;
}
.flag {
    visibility: hidden;
}

